body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #0c0819;
  color: #fff;
  text-align: center;
}

.logo {
  width: 180px;
  margin: 80px auto 20px;
  display: block;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}

.form-box {
  background-color: #1a0d2d;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  box-sizing: border-box;
}

.input,
select.input,
button {
  display: block;
  width: 100%;
  max-width: 300px;
  padding: 12px 16px;
  margin: 10px auto;
  border: 1px solid #ccafff;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
}

input::placeholder {
  color: #ccafff;
  opacity: 0.8;
}

.input:focus,
select:focus {
  outline: none;
  border-color: #4601fa;
}

select.input option {
  background-color: #1a0d2d;
  color: white;
}

.btn {
  background-color: #4601fa;
  color: white;
  font-weight: bold;
  text-transform: lowercase;
  cursor: pointer;
  border: none;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  background-color: #1a0d2d;
  padding: 1.5rem;
  border-radius: 15px;
  border: none;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.result-label {
  font-size: 1rem;
  color: white;
  margin-bottom: 0.6rem;
  font-weight: 500;
}

.lotaje {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  background-color: #1b0e35;
  border: 1px solid #ccafff;
  border-radius: 10px;
  padding: 0.4rem 1.2rem;
  max-width: 300px;
  margin: 0 auto;
  box-sizing: border-box;
}

.row-results {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  width: 100%;
}

.mini-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mini-label {
  font-size: 0.9rem;
  color: #ccafff;
}

.mini-value {
  font-size: 1.2rem;
  font-weight: bold;
}

.disclaimer {
  font-size: 10px;
  color: #ffcc00;
  margin: 20px auto;
  max-width: 400px;
  line-height: 1.5;
}

.credit {
  font-size: 12px;
  margin-top: 10px;
  color: #ccafff;
}

.qr-img {
  width: 140px;
  margin: 10px auto;
  display: block;
}

.donation-box {
  background-color: #1a0d2d;
  padding: 1rem;
  border-radius: 12px;
  margin-top: 2rem;
}
